---
apiVersion: v1
kind: Secret
metadata:
  name: tutum-postgres-secret
  namespace: {{ k8s_tutum_namespace }}
  labels:
    app.kubernetes.io/name: tutum-postgres
    app.kubernetes.io/component: database
    app.kubernetes.io/part-of: tutum
type: Opaque
stringData:
  POSTGRES_DB: "{{ k8s_tutum_db_name }}"
  POSTGRES_USER: "{{ k8s_tutum_db_user }}"
  POSTGRES_PASSWORD: "{{ k8s_tutum_db_password }}"
