---
apiVersion: tutum.io/v1
kind: TutumCertificate
metadata:
  name: {{ k8s_tutum_cert_name }}
  namespace: {{ k8s_tutum_cert_deploy_namespace }}
{% if k8s_tutum_cert_labels is defined and k8s_tutum_cert_labels %}
  labels:
{% for key, value in k8s_tutum_cert_labels.items() %}
    {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
{% if k8s_tutum_cert_annotations is defined and k8s_tutum_cert_annotations %}
  annotations:
{% for key, value in k8s_tutum_cert_annotations.items() %}
    {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
spec:
  certificateName: {{ k8s_tutum_cert_name }}
  treeMode: {{ k8s_tutum_cert_tree_mode | lower }}
{% if not k8s_tutum_cert_tree_mode %}
  groupId: {{ k8s_tutum_cert_group_id }}
  certNamespace: {{ k8s_tutum_cert_namespace }}
{% endif %}
  secretName: {{ k8s_tutum_cert_secret_name }}
  secretType: {{ k8s_tutum_cert_secret_type }}
  includeCa: {{ k8s_tutum_cert_include_ca | lower }}
  refreshInterval: {{ k8s_tutum_cert_refresh_interval }}
{% if k8s_tutum_cert_version != 0 %}
  version: {{ k8s_tutum_cert_version }}
{% endif %}
{% if k8s_tutum_cert_channel != "default" %}
  channel: {{ k8s_tutum_cert_channel }}
{% endif %}
{% if k8s_tutum_cert_auth_token %}
  authToken: {{ k8s_tutum_cert_auth_token }}
{% endif %}
{% if k8s_tutum_cert_engine_url %}
  engineUrl: {{ k8s_tutum_cert_engine_url }}
{% endif %}
{% if k8s_tutum_cert_secret_labels %}
  secretLabels:
{% for key, value in k8s_tutum_cert_secret_labels.items() %}
    {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
{% if k8s_tutum_cert_secret_annotations %}
  secretAnnotations:
{% for key, value in k8s_tutum_cert_secret_annotations.items() %}
    {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
