{% set _auth_entry = {
  "username": k8s_tutum_registry_username,
  "password": k8s_tutum_registry_password,
  "auth": (k8s_tutum_registry_username ~ ':' ~ k8s_tutum_registry_password) | b64encode
} %}
{% if k8s_tutum_registry_email | default('') | length > 0 %}
{% set _ = _auth_entry.update({"email": k8s_tutum_registry_email}) %}
{% endif %}
{% set _dockerconfig = {"auths": {k8s_tutum_registry_url: _auth_entry}} %}
{{ _dockerconfig | to_json }}
