---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: tutum-engine
  namespace: {{ k8s_tutum_namespace }}
  labels:
    app.kubernetes.io/name: tutum-engine
    app.kubernetes.io/component: backend
    app.kubernetes.io/managed-by: ansible
spec:
{% if k8s_tutum_engine_route_host %}
  host: {{ k8s_tutum_engine_route_host }}
{% endif %}
  path: {{ k8s_tutum_rest_base_path | default(k8s_tutum_engine_route_path) | default('/api') }}
  to:
    kind: Service
    name: tutum-engine
    weight: 100
  port:
    targetPort: http
{% if k8s_tutum_engine_route_termination in ['edge', 'reencrypt', 'passthrough'] %}
  tls:
    termination: {{ k8s_tutum_engine_route_termination }}
{% if k8s_tutum_engine_route_termination != 'passthrough' %}
    insecureEdgeTerminationPolicy: {{ k8s_tutum_engine_route_insecure_edge_termination_policy | default('Redirect') }}
{% endif %}
{% if k8s_tutum_engine_route_tls_certificate %}
    certificate: |
{{ k8s_tutum_engine_route_tls_certificate | indent(6, true) }}
{% endif %}
{% if k8s_tutum_engine_route_tls_key %}
    key: |
{{ k8s_tutum_engine_route_tls_key | indent(6, true) }}
{% endif %}
{% if k8s_tutum_engine_route_tls_ca_certificate %}
    caCertificate: |
{{ k8s_tutum_engine_route_tls_ca_certificate | indent(6, true) }}
{% endif %}
{% endif %}
  wildcardPolicy: None
