---
apiVersion: v1
kind: Secret
metadata:
  name: tutum-engine-secret
  namespace: {{ k8s_tutum_namespace }}
  labels:
    app.kubernetes.io/name: tutum-engine
    app.kubernetes.io/component: backend
    app.kubernetes.io/managed-by: ansible
type: Opaque
stringData:
  POSTGRES_PASSWORD: "{{ k8s_tutum_postgres_password }}"
  TUTUM_MASTER_KEY: "{{ k8s_tutum_master_key }}"
  TUTUM_JWT_SECRET: "{{ k8s_tutum_jwt_secret }}"
