---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ k8s_tutum_cnpg_namespace }}
  labels:
    app.kubernetes.io/name: tutum-postgres
    app.kubernetes.io/component: database
    app.kubernetes.io/managed-by: ansible
